.theme {
    --size: 54px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: var(--size);
    height: calc(var(--size)/2);
    background-color: var(--bg-color);
    box-shadow: 2px 2px 15px rgba($color: #000000, $alpha: 0.1);
    border-radius: 100px;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    color: var(--text-color);
    font-size: 1.6rem;
    border: 1px solid var(--border-color);
    border-width: 2px 3px 3px 2px;
}

.theme.dark-theme {
    background-color: var(--bg-light-color);
}

.theme::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 50%;
    border-radius: 50%;
    border: 2px solid var(--border-color);
    z-index: 1;
    background-color: var(--bg-light-color);
    transform: translateX(0);
    transition: transform 0.3s;
}

.theme.dark-theme::after {
    background-color: var(--bg-color);
    transform: translateX(100%);
}