.table {
    border: none !important;
    justify-content: center;

    *[class*='Mui'] {
        font-size: 1.6rem;
        border-color: var(--border-color) !important;
        color: var(--text-color);

        &::-webkit-scrollbar-thumb {
            // display: none;
        }

    }

    .row {
        border-color: var(--border-color);
        display: flex;
        justify-content: center !important;

    }

    .cell {
        border-color: var(--border-color);
    }

    [class*='cellContent'] {
        -webkit-box-orient: vertical !important;
        -webkit-line-clamp: 3 !important;
        display: -webkit-box !important;
    }
}