.wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-light-color);
    height: 100%;
    min-height: 500px;
    border-radius: 8px;
    font-size: 1.6rem;
    color: var(--text-color);
}

.header {
    padding: 20px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;

    h2 {
        text-transform: uppercase;
        font-size: 1.4rem;
        color: var(--text-color);
    }

    .controlWrapper {
        display: flex;
        align-items: center;
        gap: 12px;
        flex: 1;
        justify-content: flex-end;
    }

    .control {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    @media (max-width:576px) {
        & {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    @media (max-width:470px) {
        & .controlWrapper {
            flex-direction: column;
            align-items: flex-end;
        }
    }
}

.userList {
    flex: 4;
}

.user {
    display: flex;
    align-items: center;
}

.userImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}