.searchBar {
    width: min(336px, 100%);
}

.searchBar {
    --divider-width: 1px;
    --divider-spacer: 8px;
    --submit-button-width: 52px;
    display: flex;
    position: relative;
    align-items: center;
    height: 40px;
    border-radius: 999px;
    background-color: var(--bg-light-color);
    border: 1px solid transparent;
    font-size: 1.6rem;
    overflow: hidden;

    &.outline {
        border-color: var(--bg-color);
    }

    &:focus-within {
        border-color: var(--border-color);
    }
}

.searchInput {
    flex: 1;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 14px 12px;
    padding-right: 40px;
    caret-color: rgba(254, 44, 85, 1);
}

.searchInput:not(:placeholder-shown)~.submit {
    color: rgba(22, 24, 35, 0.75);
}

.icon {
    position: absolute;
    right: calc(var(--submit-button-width) + 12px);
    color: var(--text-color);
    user-select: none;

    &:hover {
        color: var(--text-hover-color);
    }
}

.submit {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    height: 100%;
    line-height: 1;
    padding: 4px 8px;
    width: var(--submit-button-width);
    border: none;
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: var(--divider-spacer);
        bottom: var(--divider-spacer);
        background-color: rgba(22, 24, 35, 0.12);
        left: calc(var(--divider-width) * -1);
        width: var(--divider-width);
    }
}