.wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--bg-light-color);
    border-radius: 8px;
    min-height: 100%;

    .image {
        display: flex;
        width: min(300px, 100%);
        padding: 40px;
        border-radius: 50%;
        align-items: center;
        background-color: var(--bg-color);
        border: 2px solid var(--border-color);
        opacity: 0.6;
        color: var(--text-color);
        font-size: 1.2rem;

        img {
            width: 100%;
        }
    }

    .control {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        gap: 12px;
        padding: 20px 20px 10px;
        margin-left: auto;
    }

    .errorMess {
        color: var(--error-color);
        font-size: 1.2rem;
        margin: 0 20px 0 auto;
    }
}